@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  font-family: 'Fira Code', monospace;
  width: 100%;
  height: 98vh;
  display: grid;
  place-content: center;
  background-color: seashell;
}

label {
  width: 100%;
}

input, textarea, select, .uneditable-input {
  width: 20rem;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 2rem;
}

input {
  height: 2rem !important;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  padding-bottom: 0.1rem;
}

a {
  text-decoration: none;
}

ul {
  margin: -0.7rem 0;
  margin-left: 1rem;
}

li {
  width: 21rem;
}

th, td {
  width: 9.6rem;
  border: 1px solid darkolivegreen;
  text-align: center;
}

.form-wrapper {
  width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-wrapper {
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
}

.large-wrapper {
  width: 70rem;
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper {
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;

  &-secondary {
    font-size: 1.5rem;
    text-align: left;
  }
}

.error_explanation {
  width: 100%;
  border: 2px solid red;
  border-radius: 8px;
  padding: 0 0.4rem;
  color: red;
  margin: 0 4.5rem;
  margin-bottom: 2rem;
}

.btn-wrapper {
  width: 100%;
  display: grid;
  place-content: center;
}

.btn {
  width: 10rem;
  cursor: pointer;

  &-primary {
    background-color: skyblue;

    &:hover {
      background-color: honeydew;
    }
  }

  &-secondary {
    background-color: silver;

    &:hover {
      background-color: honeydew;
    }
  }

  &-tertiary {
    width: auto;
    background-color: thistle;
    margin-left: 0.1rem;

    &:hover {
      background-color: honeydew;
    }
  }
}